<div class="well bs-component" style=" width:350px; margin-left: auto; margin-right: auto; margin-top: 50px;">

  <h2>Login</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %>
    </div>

    <br>

    <div><%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <br>

    <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <br>

    <div>
      <button class="btn btn-success">
        <input name="commit" value="Sign in" type="submit" style="background:none; border-width:0px; color:white;" />
      </button>
    </div>

  <% end %>

  <br><br>
</div>

<div style=" width:350px; margin-left: auto; margin-right: auto; margin-top: 5px; padding-left: 25px;">
  <%= render "devise/shared/links" %>
</div>

